body{
    color:blueviolet ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    
}
.box1{
    background-color: antiquewhite;
    color: rgb(0, 166, 255);
    font-style:oblique;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}

.container{
    width: 70%;
    margin:auto;
}
.box3{
    color:brown;
    
}
.box4{
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(215, 45, 127);
    font-weight: 800;
   font-style: italic;
   text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}

